/*
 * Copyright 2012 Freescale Semiconductor, Inc.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
#include "imx28.dtsi"

/ {
	model = "Freescale i.MX28 Evaluation Kit";
	compatible = "fsl,imx28-evk", "fsl,imx28";

	memory {
		/* DDR默认存储器，存储空间64MB */
		reg = <0x40000000 0x04000000>;
	};

	apb@80000000 {
		apbh@80000000 {
			/* NAND flash管脚配置 */
			gpmi-nand@8000c000 {
				pinctrl-names = "default";
				pinctrl-0 = <&gpmi_pins_a>;
				status = "okay";
			};
			/* TF卡管脚配置 */
			ssp0: ssp@80010000 {
				compatible = "fsl,imx28-mmc";
				pinctrl-names = "default";
				pinctrl-0 = <&mmc0_4bit_pins_a>;
				bus-width = <4>;
				/* TF卡写保护配置 */
				wp-gpios = <&gpio0 17 0>;			
				vmmc-supply = <&reg_vddio_sd0>;
				status = "okay";
			};
			/* AP-283Demo板的数码管显示管脚配置 */
			ssp2: ssp@80014000{
				#address-cells = <1>;
				#size-cells = <0>;
				compatible = "fsl,imx28-spi";
				pinctrl-names = "default";
				pinctrl-0 = <&spi2_pins_a>;
				/* 数码管RCK管脚配置,初始值为低电平 */
				rck-gpios = <&gpio3 21 0>;
				status = "okay";

				/* 扩展的NOR flash:mx25l1635EM2I相关配置 */
				flash: mx25l16@0 {
					#address-cells = <1>;
					#size-cells = <1>;
					compatible = "mxic,mx25l1635em2i","jedec,spi-nor";
					/* 该flash的最大频率为80MHz */
					spi-max-frequency = <80000000>;
					reg = <0>;
				};
			};

			ssp3: ssp@80016000 {
				#address-cells = <1>;
				#size-cells = <0>;
				compatible = "fsl,imx28-spi";
				pinctrl-names = "default";
				pinctrl-0 = <&spi3_pins_a>;
				status = "okay";
				/* 如果使用SPI3与外扩flash通信，打开该部分配置 */
				/*flash: mx25l16@0 {
					#address-cells = <1>;
					#size-cells = <1>;
					compatible = "mxic,mx25l1635em2i", "jedec,spi-nor";
					spi-max-frequency = <80000000>;
					reg = <0>;
				};*/
			};

			pinctrl@80018000 {
				pinctrl-names = "default";
				/* 根据EasyARM-imx280A增加蜂鸣器 */
				beep_pin_gpio2_6:beep_gpio2_6@0{
					reg = <0>;
					fsl,pinmux-ids = <
						MX28_PAD_SSP0_DATA6__GPIO_2_6
					>;
					fsl,drive-strength = <MXS_DRIVE_8mA>;
					fsl,voltage = <MXS_VOLTAGE_LOW>;
					fsl,pull-up = <MXS_PULL_DISABLE>;
				};
				/* 根据EasyARM-imx280A修改了usr run led的gpio口,即heartbeat灯 */
				led_pin_gpio2_7:led_gpio2_7@0{
					reg = <0>;
					fsl,pinmux-ids = <
						MX28_PAD_SSP0_DATA7__GPIO_2_7
					>;
					fsl,drive-strength = <MXS_DRIVE_4mA>;
					fsl,voltage = <MXS_VOLTAGE_HIGH>;
					fsl,pull-up = <MXS_PULL_DISABLE>;
				};
				/* 根据EasyARM-imx280A修改了err led的gpio口*/
				led_pin_gpio3_20: led_gpio3_20@0 {
					reg = <0>;
					fsl,pinmux-ids = <
						MX28_PAD_SAIF0_MCLK__GPIO_3_20
					>;
					fsl,drive-strength = <MXS_DRIVE_4mA>;
					fsl,voltage = <MXS_VOLTAGE_HIGH>;
					fsl,pull-up = <MXS_PULL_DISABLE>;
				};
				/* 配置扩展板LED3灯的gpio口 */
				led_pin_gpio3_25:led_gpio3_25@0{
					reg = <0>;
					fsl,pinmux-ids = <
						MX28_PAD_I2C0_SDA__GPIO_3_25
					>;
					fsl,drive-strength = <MXS_DRIVE_4mA>;
					fsl,voltage = <MXS_VOLTAGE_HIGH>;
					fsl,pull-up = <MXS_PULL_DISABLE>;
				};
				/* 配置扩展板LED4灯的gpio口 */
				led_pin_gpio3_24:led_gpio3_24@0{
					reg = <0>;
					fsl,pinmux-ids = <
						MX28_PAD_I2C0_SCL__GPIO_3_24
					>;
					fsl,drive-strength = <MXS_DRIVE_4mA>;
					fsl,voltage = <MXS_VOLTAGE_HIGH>;
					fsl,pull-up = <MXS_PULL_DISABLE>;
				};
				/* 配置扩展板按键的gpio口 */
				keys_pin:keys_pins_gpio@0{
					fsl,pinmux-ids = <
						MX28_PAD_LCD_D07__GPIO_1_7				/* KEY1 */
						MX28_PAD_LCD_RD_E__GPIO_1_24			/* KEY2 */
						MX28_PAD_LCD_WR_RWN__GPIO_1_25			/* KEY3 */
					>;
					fsl,drive-strength = <MXS_DRIVE_4mA>;
					fsl,voltage = <MXS_VOLTAGE_HIGH>;			/* 默认为高电平 */
					fsl,pull-up = <MXS_PULL_DISABLE>;			/* 上拉禁止 */
				};
			};
		};

		apbx@80040000 {
			/* AP-283Demo板音频输入输出接口配置 */
			saif0: saif@80042000 {
				pinctrl-names = "default";
				pinctrl-0 = <&saif0_pins_a>;
				fsl,saif-master = <&saif0>;
				status = "okay";
			};
			/* I2C0 用于加密电路,默认作为LED3和LED4的管脚使用，现在配置为LED3和LED4*/
			/*i2c0: i2c@80058000 {
				pinctrl-names = "default";
				pinctrl-0 = <&i2c0_pins_a>;
				status = "okay";
				};*/
			/* AP-283Demo板音频和EEPROM的I2C接口配置 */
			i2c1: i2c@8005a000 {
				pinctrl-names = "default";
				pinctrl-0 = <&i2c1_pins_a>;
				status = "okay";
				/* 音频编解码芯片配置 */
				uda1380: codec@30 {
					compatible = "nxp,uda1380";
					reg = <0x30>;
					VDDA-supply = <&reg_3p3v>;
					VDDIO-supply = <&reg_3p3v>;
					clocks = <&saif0>;
				};
				/* EEPROM芯片配置 */
				cat24@a0 {
					compatible = "mircochip,cat24c01";
					/* cat24c01的页数为16 */
					pagesize = <16>; 			
					reg = <0x50>;
				};
			};
			/* AP-283Demo板LED1管脚 */
			pwm: pwm@80064000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pwm3_pins_a>;
				status = "okay";
			};
			/* 调试串口输出配置 */
			duart: serial@80074000 {
				pinctrl-names = "default";
				pinctrl-0 = <&duart_pins_b>;
				status = "okay";
			};
			/* 扩展板UART0配置 */
			auart0: serial@8006a000 {
				pinctrl-names = "default";
				pinctrl-0 = <&auart0_2pins_a>;
				status = "okay";
			};
			/* 扩展板UART1配置 */
			auart1: serial@8006c000 {
				pinctrl-names = "default";
				pinctrl-0 = <&auart1_2pins_a>;
				status = "okay";
			};

			usbphy0: usbphy@8007c000 {
				status = "okay";
			};

			usbphy1: usbphy@8007e000 {
				status = "okay";
			};
		};
	};

	ahb@80080000 {
		/* USB0配置 */
		usb0: usb@80080000 {
			pinctrl-names = "default";
			/* USB0 ID管脚配置 */
			pinctrl-0 = <&usb0_id_pins_b
			/* USB0 OC管脚配置 */
						&usb0_pins_a>;
			vbus-supply = <&reg_usb0_vbus>;
			status = "okay";
		};
		/* USB1配置 */
		usb1: usb@80090000 {
			pinctrl-names = "default";
			/* USB1 OC管脚配置 */
			pinctrl-0 = <&usb1_pins_a>;
			vbus-supply = <&reg_usb1_vbus>;
			status = "okay";
		};
		/* 以太网配置 */
		mac0: ethernet@800f0000 {
			phy-mode = "rmii";
			pinctrl-names = "default";
			pinctrl-0 = <&mac0_pins_a>;
			phy-supply = <&reg_fec_3v3>;
			phy-reset-gpios = <&gpio1 26 GPIO_ACTIVE_LOW>;
			phy-reset-duration = <100>;
			status = "okay";
		};
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_3p3v: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		reg_vddio_sd0: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "vddio-sd0";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio3 28 0>;
		};

		reg_fec_3v3: regulator@2 {
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "fec-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio2 15 0>;
		};

		reg_usb0_vbus: regulator@3 {
			compatible = "regulator-fixed";
			reg = <3>;
			regulator-name = "usb0_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio3 9 0>;
			enable-active-high;
		};

		reg_usb1_vbus: regulator@4 {
			compatible = "regulator-fixed";
			reg = <4>;
			regulator-name = "usb1_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio3 8 0>;
			enable-active-high;
		};

		reg_lcd_3v3: regulator@5 {
			compatible = "regulator-fixed";
			reg = <5>;
			regulator-name = "lcd-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio3 30 0>;
			enable-active-high;
		};

		reg_can_3v3: regulator@6 {
			compatible = "regulator-fixed";
			reg = <6>;
			regulator-name = "can-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio2 13 0>;
			enable-active-high;
		};

	};
	/* 音频编解码配置 */
	sound {
		compatible = "nxp,nxp-audio-uda1380";
		model = "imx28-evk-uda1380";
		saif-controllers = <&saif0>;
		audio-codec = <&uda1380>;
	};
	/* 蜂鸣器配置 */
	beep {
		compatible = "gpio-beep";
		pinctrl-names = "default";
		pinctrl-0 = <&beep_pin_gpio2_6>;
		beep-gpio = <&gpio2 6 0>;
		status = "okay";
	};
	/* LED3，LED4 Heartbeat配置 */
	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		/*根据EasyARM-imx280A修改了心跳led和user led的gpio口*/
		pinctrl-0 = <&led_pin_gpio2_7
					&led_pin_gpio3_25
					&led_pin_gpio3_24>;
		led3-gpio = <&gpio3 25 0>;
		led4-gpio = <&gpio3 24 0>;
		status = "okay";

		user {
			label = "Heartbeat";
			gpios = <&gpio2 7 0>;
			linux,default-trigger = "heartbeat";
			/*使能心跳led*/
			default-state = "on";
		};

	};
	/* KEY1,KEY2,KEY3配置 */
	keys{
		compatible = "mxs-key";
		pinctrl-names = "default";
		#address-cells = <1>;
		#size-cells = <1>;
		pinctrl-0 = <&keys_pin>;
		interrupt-parent = <&gpio1>;
		key1-gpio = <&gpio1 7 1>;		/* 默认为高电平 */
		key2-gpio = <&gpio1 24 1>;
		key3-gpio = <&gpio1 25 1>;
		interrupts = <7  8				/* GPIO1_7低电平触发 */
					  24 8				/* GPIO1_24低电平触发 */	
					  25 8>;			/* GPIO1_25低电平触发 */
		status = "okay";
	};
	/* LED1的管脚配置，可用LED1来测试CPU的PWM功能 */
	pwm-led1 {
		compatible = "pwm-led1";
		/* PWM通道数(即索引号)和周期(单位：ns) */
		pwms = <&pwm 3 5000000>; 
		/* 亮度从0～255变化，表示正极性，占空比0～100%的变化，从255～0变化，表示负极性，占空比100%～0变化 */
		brightness-levels = <0 4 8 16 32 64 128 255>;	
		default-brightness-level = <6>;
	};
	/* AP-283Demo板ADC输入为配置完成，需要重新配置待定*/
	/*&lradc {
		status = "okay";
		fsl,lradc-wires = <2>;

		fsl,ave-ctrl = <4>;
		fsl,ave-delay = <2>;
		fsl,settling = <10>;
	};*/
};
